---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="well">
    <div class="date">
      Rédigé le {{ page.date | date: '%d' }} 
{% assign m = page.date | date: "%-m" %}
{% case m %}
  {% when '1' %}janvier
  {% when '2' %}février
  {% when '3' %}mars
  {% when '4' %}avril
  {% when '5' %}mai
  {% when '6' %}juin
  {% when '7' %}juillet
  {% when '8' %}août
  {% when '9' %}septembre
  {% when '10' %}octobre
  {% when '11' %}novembre
  {% when '12' %}décembre
{% endcase %} 
{{ page.date | date: '%Y' }} 
    </div>
    <div class="category">
     Catégorie : <span class="label label-primary">{{ page.categories }}</span>
     
    {% for tag in page.tags %}
    <span class="glyphicon glyphicon-tag" aria-hidden="true">{{ tag }}</span> &nbsp; - &nbsp;
    {% endfor %}
     
    </div>
  </div>


  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
