---
layout: default
---

{% assign category = site.my_categories | where: "slug", post.category %}
{% assign category = category[0] %}
{% if category %}
    {% capture category_content %}<a class="label" href="{{ category.url }}">{{ category.name }}</a>{% endcapture %}
{% endif %}



<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="well">
    <div class="date">
      Rédigé le {{ page.date | date: '%d' }}
{% assign m = page.date | date: "%-m" %}
{% case m %}
  {% when '1' %}janvier
  {% when '2' %}février
  {% when '3' %}mars
  {% when '4' %}avril
  {% when '5' %}mai
  {% when '6' %}juin
  {% when '7' %}juillet
  {% when '8' %}août
  {% when '9' %}septembre
  {% when '10' %}octobre
  {% when '11' %}novembre
  {% when '12' %}décembre
{% endcase %}
{{ page.date | date: '%Y' }}
    </div>
    <div class="category">
  YYYY<span id="post-meta">{{ category_content }}</span>YYYY
    Catégorie <span class="label label-primary">{{ page.categories }}</span>
    &nbsp;&mdash;&nbsp; <span id="post-meta">{{ tags_content }}</span>
       {% for tag in page.tags %}
        {% for data_tag in site.data.tags %}
         {% if data_tag.slug == tag %}
          {% assign tagg = data_tag %}
         {% endif %}
        {% endfor %}
        {% if tagg %}
         <a href="/tag/{{ tagg.slug }}/">{{ tagg.name }}</a>{% if forloop.last == false %}, {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>



  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
